.font-face{
	font-family: "Myriad Pro"
	/* src:url(../fonts/glyphicons-halflings-regular.eot);	 */
}
.font-face{
	font-family: Pattaya;
	/* src:url(../fonts/glyphicons-halflings-regular.ttf); */
}
body {
	font-family: 'Roboto', sans-serif;
	background: url(/static/images/mountain.png) no-repeat center center fixed;
	background-size: cover;
	}
html,body{
	font-size: 14px;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;

}
img{
	max-width: 100%;
}
.navbar-inverse{
	padding: 10px 0;
	text-align:  center;
	background-color: black;
	background-image: none;
}
.btn_dn{
	background-color: silver;
	color: black;
	border: 1px solid silver;
	border-radius:10px;
	font-weight: bold;
	font-size: 15px;
	padding: 7px,5px;
	text-decoration: none;
}


.walpper{
	position: relative;
	width: 100%;
	height: 600px;
	background: url(/static/images/mav.jpg ) no-repeat;
	background-position: cover;
	background-attachment: fixed;
	background-position: center center;
}

.images-PhimNow{
	width: 184px;
	height: 273px;
}
 
.PhimNow .run{
	opacity: 1;
	transform: translateX(0px);
}
.PhimNow figcaption{
	width: 120px;
	position: relative;
	bottom: 22%;
	left: 20px;
	border: 2px solid black;
	border-radius:  5px;
	padding: 0;
	opacity: 0;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color:#ffff00;
	background: 0;
}
.PhimNow figure:hover figcaption{
	opacity: 1;
	transition: 0.3s ease-in-out;
	background-color: #ffff00;
}

.wrapper .images-PhimNow{
    float:left;
    width:100px;
    height:100px;
    margin:0 10px 10px 0;
    background-color:#CCCCCC;
    -webkit-transition:all 1.0s ease;
    -moz-transition:all 1.0s ease;
    transition:all 1.0s ease;
    transition:all 1.0s ease;
}
 
.wrapper .PhimNow{
    float:left;
    width:100px;
    height:100px;
    margin:0 10px 10px 0;
    background-color:#CCCCCC;
    -webkit-transition:all 1.0s ease;
    -moz-transition:all 1.0s ease;
    transition:all 1.0s ease;
    transition:all 1.0s ease;
}
.wrapper.list-mode .PhimNow{
    padding-right:10px;
}
 
.wrapper.list-mode .images-PhimNow{
    width:100%;
}

header{
    text-align:right;
    padding:10px;
    margin-bottom:10px;
    background-color:black;
}
.PhimNow{
	float: left;
	padding-bottom: 200px;
	width: 1180px;
	margin-left: 190px;
	min-height: 400px;
}
.main-section {
	margin: 0 auto;
	margin-top: 130px;
	padding: 0;
}
.modal-content {
	background-color: #434e5a;
	opacity: .8;
	padding: 0 18px;
	border-radius: 10px;
}
.user-img img {
	height: 120px;
	width: 120px;
}
.user-img {
	margin-top: -60px;
	margin-bottom: 45px;
}
.form-group {
	margin-bottom: 25px;
}
.form-group input {
	height: 42px;
	border-radius: 5px;
	border: 0;
	font-size: 18px;
	letter-spacing: 2px;
	padding-left: 54px;
}
.form-group::before {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f1fa";
	position: absolute;
	font-size: 22px;
	left: 28px;
	padding-top: 4px;
	color: #555e60;
}
.form-group:last-of-type::before {
	content: "\f023";
}
.form-input button {
	width: 40%;
	margin: 5px 0 25px;
}
.btn-success {
	background-color: #1c6288;
	font-size: 19px;
	border-radius: 5px;
	padding: 7px 14px;
	border: 1px solid #	;
}
.btn-success:hover {
	background-color: #13445e;
	border: 1px solid #daf1ff;
}
.forgot {
	padding: 5px 0 25px;
}
.forgot a {
	color: #daf1ff;
}