<div id="header">
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><img src="/public/images/images.png" style="width:120px; height: 40px;">
                </a>

            </div>
            <div class="navbar-collapse collpase" id="main-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/" class="hvr-underline-form-center">Trang Chủ</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="dropdown">Danh Sách Phim<span class="caret"></span></a>
                    </li>
                    <li>
                        <a href="#">Mua Vé</a>
                    </li>
                    <li>
                        <a href="#">Liên Hệ</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" >
                    <li>
                        <a href="/user/signup" class="navbar-btn navbar-right btn_dn" > Đăng ký </a>
                    </li>
                    <li>
                        <a href="/login" class="navbar-btn navbar-right btn_dn"> Đăng Nhập </a>
                    </li>

                    <li>
                        <a href="/user/edit" class="navbar-btn navbar-right btn_dn"> <%= data %> </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>