<!doctype html>
<html>
<head>
    <title> <%= title %> </title>
    
    <% include ./layout/header %>

</head> 
<body>
    <div id ="wrapper">
        <div class="Khung"></div>
        
        <div id="header">
            <nav class="navbar navbar-fixed-top navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand"><img src="/public/images/images.png" style="width:120px; height: 40px;">
                        </a>

                    </div>
                    <div class="navbar-collapse collpase" id="main-menu">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/" class="hvr-underline-form-center">Trang Chủ</a>
                            </li>
                            <li>
                                <a href="#" data-toggle="dropdown">Danh Sách Phim<span class="caret"></span></a>
                            </li>
                            <li>
                                <a href="#">Mua Vé</a>
                            </li>
                            <li>
                                <a href="#">Liên Hệ</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" >

                            <% if(data) { %>


                            <li>
                                <a href="/edit" class="navbar-btn navbar-right btn_dn"> <%= data %> </a>
                            </li>

                            <% } else { %>

                            <li>
                                <a href="/login" class="navbar-btn navbar-right btn_dn"> Đăng Nhập </a>
                            </li>

                            <% } %> 

                            <% if(data) { %>
                            <li>
                                <a href="/exit" class="navbar-btn navbar-right btn_dn"> Đăng Xuất </a>
                            </li>

                            <% } else { %>
                            <li>
                                <a href="/user/signup" class="navbar-btn navbar-right btn_dn"> Đăng ký </a>
                            </li>
                            <% } %> 

                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="walpper"></div>
    <div class="PhimNow"> 
            <div class="container">


                <div class="row">
                    <center><h1 style="color: #ffffff">PHIM ĐANG CHIẾU</h1></center>

                    <div class="col-md-2">
                        <div class="block-wrapper">
                            <div class="movie-thumbnail ratio-box ratio-3_4">
                                <figure class="public-film-item-thumb ratio-content" > 
                                    <img src="/public/images/aladdin.jpg "/>
                                    <a href="#">
                                        <figcaption class="hvr-float-shadow">
                                            <a href=""> Đặt Vé</a>
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                            <div class="movie-meta"><div class="movie-title-1"> ALADDIN</div>
                            </div>
                        </div> 
                    </div>


                    <div class="col-md-2">
                        <div class="block-wrapper">
                            <div class="movie-thumbnail ratio-box ratio-3_4">
                                <figure class="public-film-item-thumb ratio-content" > 
                                    <img src="/public/images/xmen.jpg"/>
                                    <a href="#">
                                        <figcaption class="hvr-float-shadow">
                                            <a href=""> Đặt Vé</a>
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                            <div class="movie-meta"><div class="movie-title-1"> X-MEN: DARK PHOENIX</div>
                            </div>
                        </div> 
                    </div>

                    <div class="col-md-2">
                        <div class="block-wrapper">
                            <div class="movie-thumbnail ratio-box ratio-3_4">
                                <figure class="public-film-item-thumb ratio-content" > 
                                    <img src="/public/images/pets2.jpg"/>
                                    <a href="#">
                                        <figcaption class="hvr-float-shadow">
                                            <a href=""> Đặt Vé</a>
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                            <div class="movie-meta"><div class="movie-title-1"> THE PETS 2</div>
                            </div>
                        </div> 
                    </div>

                    <div class="col-md-2">
                        <div class="block-wrapper">
                            <div class="movie-thumbnail ratio-box ratio-3_4">
                                <figure class="public-film-item-thumb ratio-content" > 
                                    <img src="/public/images/us.jpg"/>
                                    <a href="#">
                                        <figcaption class="hvr-float-shadow">
                                            <a href=""> Đặt Vé</a>
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                            <div class="movie-meta"><div class="movie-title-1"> US</div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <center><h1 style="color: #ffffff">PHIM XEM NHIỀU</h1></center>
                    <div class="col-md-2">
                        <div class="block-wrapper">
                            <div class="movie-thumbnail ratio-box ratio-3_4">
                                <figure class="public-film-item-thumb ratio-content" > 
                                    <img src="/public/images/endgame.jpg"/>
                                    <a href="#">
                                        <figcaption class="hvr-float-shadow">
                                            <a href=""> Đặt Vé</a>
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                            <div class="movie-meta"><div class="movie-title-1">AVENGERS: ENDGAME</div>
                            </div>
                        </div> 
                    </div>

                    <div class="col-md-2">
                        <div class="block-wrapper">
                            <div class="movie-thumbnail ratio-box ratio-3_4">
                                <figure class="public-film-item-thumb ratio-content" > 
                                    <img src="/public/images/cap.jpg"/>
                                    <a href="#">
                                        <figcaption class="hvr-float-shadow">
                                            <a href=""> Đặt Vé</a>
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                            <div class="movie-meta"><div class="movie-title-1">CAPTAIN MARVEL</div>
                            </div>
                        </div> 
                    </div>

                    <div class="col-md-2">
                        <div class="block-wrapper">
                            <div class="movie-thumbnail ratio-box ratio-3_4">
                                <figure class="public-film-item-thumb ratio-content" > 
                                    <img src="/public/images/infinity.jpg"/>
                                    <a href="#">
                                        <figcaption class="hvr-float-shadow">
                                            <a href=""> Đặt Vé</a>
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                            <div class="movie-meta"><div class="movie-title-1">AVENGERS: INFINITY WAR</div>
                            </div>
                        </div> 
                    </div>

                    <div class="col-md-2">
                        <div class="block-wrapper">
                            <div class="movie-thumbnail ratio-box ratio-3_4">
                                <figure class="public-film-item-thumb ratio-content" > 
                                    <img src="/public/images/johnwick.jpg"/>
                                    <a href="#">
                                        <figcaption class="hvr-float-shadow">
                                            <a href=""> Đặt Vé</a>
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                            <div class="movie-meta"><div class="movie-title-1">JOHN WICK 3</div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>     
        </div>
</div>

<% include ./layout/footer %>

</body>
</html>           
