<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="with=device-with,initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Upload File</title>
</head>
<body>

    <div class="jumbotron">
        <h1 class="display-3">Jumbo heading</h1>
        <p class="lead">Jumbo helper text</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
    </div>

    <div class="container">
        <div class="row">
            
            <div class="col-md-12">

                    <% data.forEach((phantu) => { %>

                        <div class="form-group">
                            <label for="">Nhập Tên Phim</label>
                            <input type="text" class="form-control" name="name_movie" value="<%= phantu.name_movie %>" id="" aria-describedby="helpId" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="">Ngày Phát Hành</label>
                            <input type="text" class="form-control" name="pulish_date" value="<%= phantu.publish_date %>" id="" aria-describedby="helpId" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="">Thời Lượng</label>
                            <input type="text" class="form-control" name="duration" value="<%= phantu.duration %>" id="" aria-describedby="helpId" placeholder="">
                        </div>
        
                        <div class="input-group ">
                            <img src="<%= phantu.poster_image %>" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                        </div>
    
                    <% }) %>
                    
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>